{
  "presets": ["@babel/react", ["@babel/env",{
    "useBuiltIns": "entry"
  }]],

  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/proposal-class-properties"
    ],
    ["@babel/plugin-syntax-dynamic-import"]
  ]
}