{
  "presets": ["@babel/react",
    ["@babel/env",
      {
        "useBuiltIns": "usage",
        "corejs": "3.0.0"
      }
    ],
    "@babel/preset-typescript"
  ],

  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/proposal-class-properties"
    ],
    ["@babel/plugin-syntax-dynamic-import"],
    ["@babel/plugin-proposal-object-rest-spread"],

    ["import", {
      "libraryName": "antd",
      "libraryDirectory": "es",
      "style": true
    }]
  ]
}