{
  "presets": ["@babel/react",
    ["@babel/env",{
    "useBuiltIns": "entry"
  }],
    "@babel/preset-typescript"
  ],

  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/proposal-class-properties"
    ],
    ["@babel/plugin-syntax-dynamic-import"],
    ["@babel/plugin-proposal-object-rest-spread"]
  ]
}